header{
    display: block;
    position: fixed;
    top:0;
    z-index: 10;
    background-color:rgba(22, 22, 23, .8);
    height: 44px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul{
    width: 85%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.headeritems{
    color: white;
    font-size: smaller;
    cursor: pointer;
    height: 100%;
}
.nav-sublinks-wrapper{
    position: absolute;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: rgb(0, 0, 0);

    height: 0;
    transition-property: height;
    transition-duration:0.25s;
    display: flex;
    justify-content: center;
    align-items: start;
    overflow: hidden;

  }
  #headeritem-mac:hover #nav-sublinks-wrapper-mac{
    height:75vh;
}

#diviate li{
    display: none;
 }
#headeritem-mac:hover .nav-sublinks{
display: flex;
justify-content: start;
align-items: start;
opacity: 1;
}

  #headeritem-store:hover .nav-sublinks-wrapper{
        height:65vh;

  }
  #headeritem-store:hover .nav-sublinks{
    display: flex;
    justify-content: start;
    align-items: start;
    opacity: 1;
}
#headeritem-watch:hover .nav-sublinks-wrapper{
    height:65vh;

}
#headeritem-watch:hover .nav-sublinks{
display: flex;
justify-content: start;
align-items: start;
opacity: 1;
}
#headeritem-tv:hover .nav-sublinks-wrapper{
    height:65vh;

}
#headeritem-tv:hover .nav-sublinks{
display: flex;
justify-content: start;
align-items: start;
opacity: 1;
}
#headeritem-entertainment:hover .nav-sublinks-wrapper{
    height:75vh;

}
#headeritem-entertainment:hover .nav-sublinks{
display: flex;
justify-content: start;
align-items: start;
opacity: 1;
}
#headeritem-accessories:hover .nav-sublinks-wrapper{
    height:65vh;

}
#headeritem-accessories:hover .nav-sublinks{
display: flex;
justify-content: start;
align-items: start;
opacity: 1;
}
#headeritem-support:hover .nav-sublinks-wrapper{
    height:65vh;

}
#headeritem-support:hover .nav-sublinks{
display: flex;
justify-content: start;
align-items: start;
opacity: 1;
}

#headeritem-airpods:hover .nav-sublinks-wrapper{
    height:65vh;

}
#headeritem-airpods:hover .nav-sublinks{
display: flex;
justify-content: start;
align-items: start;
opacity: 1;
}
#headeritem-ipad:hover .nav-sublinks-wrapper{
    height:65vh;

}

#headeritem-ipad:hover .nav-sublinks{
display: flex;
justify-content: start;
align-items: start;
opacity: 1;
}
#headeritem-iphone:hover .nav-sublinks-wrapper{
    height:65vh;

}
#headeritem-iphone:hover .nav-sublinks{
display: flex;
justify-content: start;
align-items: start;
opacity: 1;
}



  .nav-sublinks{

    position: relative;
    left: 0;
    margin-top: 100px;
    margin-bottom: 50px;
    width: 85%;

    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.25s;
   
  }

  #nav-sublink-ul1{
    width: 30%;

  }
  #nav-sublink-ul1 li{
    font-size: 20px;
    color: rgba(255, 255, 255, 0.808);
  }
  #nav-sublink-ul2{
    width: 20%;

  }
  #nav-sublink-ul3{
    width: 25%;
  
  }
.nav-sublink-ul{
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: small;
    row-gap: 15px;
     
    transition-property:font-weight;
    transition-duration: 1s;

}
.nav-sublink-ul span{
   opacity: 0.6;
    padding-bottom: 8px;
}

#leftdiv{
    width: 7.14%;
    text-align: center;

}
#rightdiv{
    width: 92.86%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main{
    position: relative;
  max-width: 2560px;
  margin: 0 auto;
  padding-top: 44px;
  min-height: 100vh;
}
.secdiv{
    width: 100%;
    height: 625px;
}
#macbook{
    width: 100%;
    height: 625px;
    background-image:url('/images/mackbooklarge.jpg') ;
    background-position: center;
    background-repeat: no-repeat;

}
#iphone{
    width: 100%;
    height: 625px;
    background-image:url('/images/iphonepro_large.jpg') ;
    background-position: center;
    background-repeat: no-repeat;

}
.d-flex{
    display: flex;
    justify-content: center;

}
.d-flex-column{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    row-gap: 2px;
}
.learnandbuy{
    text-decoration: none;
    margin-top: .74em;
    
}
.learnandbuy #rightlink{
    margin-left: 27px;
}
.learnandbuy #leftlink{
    margin-left: -1px;
}
.links{
    text-decoration: none;
    color: blue;
    &:hover{
        text-decoration: underline;
    }
}

body{
    font-size: 17px;
    line-height: 1.23536;
    font-weight: 400;
}
.content1{
    padding-top: 53px;
}
#iphone-content{
    color: white;
}

#imac{
    background-image: url('/images/imac_large.jpg');
    background-position: center;
    background-repeat: no-repeat;
}
.secdiv2{
    height: 636px;
    width: 49%;   

}
#section2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    gap: 10px;
    width: 100%;
}
#iphone-contentsec2{
    color: black;
}
#sec2-div1{
    background-image: url('/images/sec2_iphone15_large.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#sec2-div2{
    background-image: url('/images/holiday_2023_promo_large.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}
.headline{
    width: 430px;
    text-align: center;
}
.subheadline{
    width: 310px;
    text-align: center;
}
#iphone-contentsec2 .subheadline{
    width: 635px;
}

#sec2-div3{
    color: white;
    text-align: center;
    background-image: url('/images/apple_watch_series_9_large.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 

}
.headline>span{
    display: block;
    font-size: 17px;
    line-height: 1.23536;
    font-weight: 400;
    color: red;
    text-align: center;
}
#sec2-div4{
    color: white;
    text-align: center;
    background-image: url('/images/airpods_large.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 

}
#sec2-div5{
    color: black;
    text-align: center;
    background-image: url('/images/tile__card_large.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 

}
#sec2-div6{
    color: black;
    text-align: center;
    background-image: url('/images/iphone_tradein_large.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 

}
#sec2-div6 .subheadline{
    width: 350px;
    text-align: center;
}


.footer-content{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  max-width: 980px;
  padding: 0 22px;
    padding-right: 22px;
    padding-left: 22px;
    row-gap: 25px;
    width: 100%;
    

}
.footernotes{
    margin: 10px 0 10px 0;
    
}

.slider-part{
    padding: 2vh 0vw;
    width: 100%;
    height: 80vh;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom:50px ;
    cursor: pointer;
    
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-slide {
    width:  95%;
    background-position: center;
    background-size: cover;
    position: relative;
    bottom: 0;
}
.swiper-slide:focus {
    transform: translate(0 100px);

}

.swiper-1{
    background-image: url(/images/swipper/swipper1.jpg);

}
.swiper-2{
    background-image: url(/images/swipper/swiper2.jpg);
}
.swiper-3{
    background-image: url(/images/swipper/swipper3.jpg);
}
.swiper-4{
    background-image: url(/images/swipper/swipper4.jpg);
}
.swiper-5{
    background-image: url(/images/swipper/swipper5.jpg);
    background-size:cover;

}
.swiper-6{
    background-image: url(/images/swipper/swipper6.jpg);
}
.swiper-7{
    background-image: url(/images/swipper/swipper7.jpg);
}
.swiper-8{
    background-image: url(/images/swipper/swipper8.jpg);
}
.swiper-9{
    background-image: url(/images/swipper/swipper9.jpg);
}
.swiper-10{
    background-image: url(/images/swipper/swipper10.jpg);
}

#pegination{
    position: relative;
}

.footer-content #columns{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    border-top: 1px solid darkgray;
    padding-top: 20px;

    font-size: 12px;
  line-height: 1.33337;

  letter-spacing: -.01em;
}
.footer-nav-titles{
    font-weight: bold;
    color: black;
    display: block;
    margin-bottom: 10px;

    
}
.footer-nav-titles>li{
    color: black;
    font-weight: bold;
    
}
.footer-content #columns .cols{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: rgb(58, 57, 57);

    
}
#columns .cols ul {
    margin-bottom: 20px;
    
}
#columns .cols ul li{
    margin-bottom: 10px;
    
}
.footer-nav-lis-links{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    &:hover{
        text-decoration: underline;
    }
}
#footer-last2{
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.377);
}
#footer-last{
    /* display: flex;
    align-items: center;
    justify-content: center; */
    position: relative;
    margin-bottom: 30px;
}
#footer-last div ul{
position: absolute;
left: 33%;    
    }
#footer-last div ul>li{

display: inline-block; 
margin-left: 5px;

}
#footer-last div ul>li>a{
    margin-right: 5px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.74);
  &:hover{
    text-decoration: underline;
  }

    }

.swiper-caption{
    display:flex;
    height: 44px;
    width: 90%;
    position: absolute;
    opacity: 0;
    transform: translateY(50px);
    transition-property: transform;
  
    transition-duration: 1s;

}

.swiper-caption .swiper-caption-button{
    width: 25%;
    align-self: center;
    height: 100%;
}
.swiper-caption .swiper-caption-dis{
    width: 75%;
    align-self: flex-start;
    height: 100%;
    text-align: center;
    display:flex;
    align-items: center;
}
.swiper-caption-button-btn{
    border-radius: 30px;
    height: 100%;
    min-width: 28px;
  padding-left: 21px;
  padding-right: 21px;
  padding-top: 11px;
  padding-bottom: 11px;
  font-weight: 700;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  
}
.swiper-caption .swiper-caption-dis p{
    font-size: 20px;
  line-height: 1.1;
  font-weight: 400;
  letter-spacing: 0em;
  color: white;
  text-align: left;

}
.swiper-caption .swiper-caption-dis span{
  font-weight: 700;
}
.swiper-caption .swiper-caption-dis #dot{
    position: relative;
    bottom: 5px;
  }


  @media all and (min-width: 980px) and (max-width: 1200px){

  }